.states
__pycache__/
*.py[cod]
.web
*.db
assets/external/
.env
venv/

articles_scraping/scraping.ipynb
articles_scraping/noh_faq_completo.json
articles_scraping/noh_faq_teste_2.json
articles_scraping/noh_faq_teste.json

noh_faq_search/pages/tests.ipynb
